* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}


.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding:10px 0px 0px 10px;
    
}

.menu h1 a{
    text-decoration: none;
}
.menu ul li {
    padding: 10px;
    width: 150px;
    margin-right: 10px;
}

.menu ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    -webkit-text-stroke: 2px rgb(187, 51, 51);
    
}

.pai
 {
    width: 80vw;
    height: 50vh;
    margin: 5vh auto;
    
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#buttons input {
    width: 15px;
}

.bti {
    width: 20px;
    border-radius: 50px;
    border: none;
    background: red;
    
}

#sinal{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

body > nav > div > ul > a > img{
    width: 5vw;
}


/*informativos*/

.container {
    margin: auto;
    max-width: 800px;
    
   }
   
   .main {
       margin: auto;
       max-width: 600px;
   }
   
   .icones img {
       width: 20px;
   }
   
   .me {
       text-decoration: none;
       color: red;
   }
   .main img {
       width: 100%;
   }

/*contatos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

table {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: none;
    color: #5f5d5d;
    width: 100%;

}


input {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background: #daccce;
}

.bc{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    color: #5f5d5d;
}

.bc:hover{
    color: black;
    background: rgb(187, 51, 51);
}
.msg {
    width: 300px;
    height: 100px;
    margin: 0;
    border-radius: 15px;
    border: none;
    background: #daccce;
}



h1 {
    margin-bottom: 30px;
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 10px 0px 10px;
    gap: 15px;
    padding: 10px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
    background: #daccce;

}